* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {

    background-color: #504e4e;

    }

form {

    background-color: #dbcdb274;
    margin: 10rem auto;
    text-align: center;
    border-radius: 10px;
    padding: 2rem;
    width: 20rem;
    height: 25rem;

    display: flex;
    justify-content: center;
    flex-direction: column;

}
.container {

    background-color: aqua;

}

input {

    margin-bottom: .5rem;
    border-radius: 5px;
    border: none;

}

#logo {

    width: 3rem;

}
