* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #dbcdb2;
}

#top_nav {
    background-color: #7e4733;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    justify-content: right;
    align-items: center;
    border-radius: 5px;
    margin: .5rem;
}

#search_con{
   /* background: red; */
    margin: auto;
    border-radius: 100px;
    overflow: hidden;
    height: 2.5rem;
    width: 35rem;
}

#search_con input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    padding-left: .5rem;
}

.nav_button {
    background-color: #fbf5f5;
    padding: 1rem;
    gap: 1rem;
    border-radius: 5px;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 1.1rem;
    border-radius: 100%;
}

#side_nav {
    margin: .3rem;
    text-align: center;
    float: left;
    /* background: red; */
    height: 100vh;
}


#side_nav div{
    background-color: #4c4745;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: .5rem;
    padding: 1rem;
    width: 10rem;
    
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}



#side_nav div:first-child{
    background-color:red;
    font-size:1.5rem;
}



.card_con{
    gap: 1rem;
    display: flex;
    margin: 1.5rem;
    height: 13rem;
}

.card_con :first-child{
    background-color: #4c4745;
    color:#fbf5f5;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #fbf5f5;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-width: 8.7rem;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.regis_form_con{

    width: 100vw;
    height: 100vh;
    background-color: #4d4440ac;
    position: fixed;
    top: 0;
    opacity:0;
    transition: opacity .5s;
    display: none;
}

.regis_form{
    background:#fbf5f5;
    padding: 1rem;
    border-radius: 15px;
    width: 90%;
    height: 15rem;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}